@charset "UTF-8";
/* CSS Document */
body {
	font-family: Garamond, "Palatino Linotype", "Book Antiqua", Palatino, serif;	
	font-size:15px;
	color:#333;
	background:url(/images/repeat.png);
}
a, a:link, a:active {
	color:#6b8da5;
	text-decoration:none;
}
ul li {
	list-style:none;
	width:100%;
	margin-bottom:5px;
	list-style-position:outside;
}
ul li, ul {
	padding:0px;

}
a:hover {color:#F9F;}
hr {color:#fadfff;}
#container {
	margin:0 auto;
	width:630px;
	margin-top:5%;
	margin-bottom:5%;
}
#content {
	background:#FFF;
	border: solid 1px #fadfff;
	display: block;
	width: 500px;
	min-height:auto;
	padding:65px;
}
#offtempo {
/*	background:url(images/offtempo.png) no-repeat;*/
	width:125px;
	height:86px;
	margin:0px auto;
	padding-bottom:30px;
}
.print-links ul li a {
	background:url(images/pdf_16x16.png) center left no-repeat;
	padding-left: 22px;
	font-style:italic;
	width:100%;
	}
.print-links ul li {
	border-bottom: dotted 1px #fadfff;
	font-weight:bold;
}

.print-links {
	padding: 12px 0px;	
}
.frac {font-size: 12px;color:#333;
}
.publish-date {
	text-align:right; text-decoration:underline; width:100%;
}
.contributors {
	background:#F6E1F9; padding:3px; font-style:italic;
}
.contributors strong {
	font-style:normal;
}